@import "./brand/brand-font.scss";
@import "./brand/brand-buttons.scss";
@import "./brand/brand-text.scss";
@import "./brand/brand-carousel.scss";
@import "./brand/brand-carousel-nav.scss";
@import "./brand/brand-nav.scss";
@import "./brand/brand-animations.scss";
@import "./brand/brand-jumbotron.scss";
@import "./brand/brand-media.scss";
@import "./brand/brand-poster.scss";
@import "./brand/brand-scroll-active.scss";


// midnight
// radial-gradient(circle at 75% 0%, #fff, #0a9cf7, #081157, #000000)
// sunset
// radial-gradient(circle at 75% 20%, #fcecc0, #faac05, #543103)

body{
  .bg-sunset{
    background: radial-gradient(circle at 100% 20%, $sunset_0 2%, $sunset_1 20%, $sunset_2 105%);
  }
  .bg-midnight{
    background: radial-gradient(circle at 75% 10%, #fff, #0a9cf7, #081157, #000000);
  }
  .bg-dark{
    background: radial-gradient(circle at 5% 20%, #444, #000);
    // background: radial-gradient(ellipse at bottom left, #777, #555, $primary);
  }
}

.invert.brand-logo{
  fill: $white;
  .bg-head,
  .pupil-right,
  .pupil-left{
    fill: $white;
  }
  .eyeball-right,
  .eyeball-left{
    fill: $black;
  }
}

.fg-white{color: $white;}

.content-home{
  .navbar-main{
    border-bottom-color: rgba(255,255,255,0.3);
    .bg-head{
      opacity: .6;
    }
    .nav-item{
      color: $white;
      border-bottom: solid 0 rgba(255,255,255,0.3);
      &:hover{
        border-bottom: solid .5rem rgba(255,255,255,0.3);
      }
    }
  }

  .btn-2{
    color: $white;
    .btn-icon{
      background: rgba(0,0,0,.6);
    }
  }
}
