@import "./brand/brand-font.scss";
@import "./brand/brand-buttons.scss";
@import "./brand/brand-text.scss";
@import "./brand/brand-carousel.scss";
@import "./brand/brand-carousel-nav.scss";
@import "./brand/brand-nav.scss";
@import "./brand/brand-animations.scss";
@import "./brand/brand-jumbotron.scss";
@import "./brand/brand-media.scss";



// midnight
// radial-gradient(circle at 75% 0%, #fff, #0a9cf7, #081157, #000000)
// sunset
// radial-gradient(circle at 75% 20%, #fcecc0, #faac05, #543103)

body{
  .bg-sunset{
    background: radial-gradient(circle at 100% 20%, $sunset_0 2%, $sunset_1 20%, $sunset_2 105%);
    padding-top: 6rem;


  }
  .bg-midnight{
    background: radial-gradient(circle at 75% 10%, #fff, #0a9cf7, #081157, #000000);
  }
  .bg-dark{
    background: radial-gradient(circle at 5% 20%, #444, #000);
    // background: radial-gradient(ellipse at bottom left, #777, #555, $primary);
  }
}

.lego{
  width: 130%;
  margin: 0 -15%;
}

.invert.brand-logo{
  fill: $white;
  .bg-head,
  .pupil-right,
  .pupil-left{
    fill: $white;
  }
  .eyeball-right,
  .eyeball-left{
    fill: $black;
  }
}

.fg-white{color: $white;}

.content-home{
  .navbar-main{
    .bg-head{
      opacity: .6;
    }
    .nav-item{
      color: $white;
    }
  }
}

.homepage-logo-container{
  height: 100%;
  position: relative;
  background-size: 130%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('/assets/images/brand/lego-all-0.png');
}

.homepage-logo{
  //margin-top: 7rem;
}

.homepage-options{
  position: absolute;
  width: 100%;
  bottom: 5%;
}

@include media-breakpoint-up(md){
  .homepage-logo-container{
    background-size: 70%;
  }
}
