/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/

.modal.fade{
  .modal-dialog{
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  }
}

.modal-nav{
  .modal{
    &.modal-backdrop{
      top: 0;
    }
    .modal-dialog {
      right: -$width-modal-nav;
      position: fixed;
      margin: auto;
      width: $width-modal-nav;
      height: 100%;
      -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
      -o-transform: translate3d(0%, 0, 0);
      transform: translate3d(0%, 0, 0);
      .modal-content{
        height: 100%;
        overflow-y: auto;
      }
    }
    &.fade{
      .modal-dialog {
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
      }
      &.show{
        .modal-dialog {
          right: 0;
        }
      }
    }
  }
}
