@import "./custom.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./variables.scss";
// @import "./carousel.scss";
// @import "./modal.scss";
@import "./modal-nav.scss";
@import "./modal-side.scss";
// @import "./modal-demo.scss";
@import "./nav-main";
// @import "./nav-breadcrumb.scss";
// @import "./icons.scss";

// @import "./footer.scss";
@import "./brand.scss";

html,
body{
  height: 100%;
}

#tab-content{
  height: 100vh;
}

.tab-content>.active {
    display: flex;
}

// .homepage{
//   .nav-crumbs{
//     display: none;
//   }
// }
