@import "./custom.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./variables.scss";
// @import "./carousel.scss";
// @import "./modal.scss";
@import "./modal-nav.scss";
@import "./modal-side.scss";
// @import "./modal-demo.scss";
@import "./nav-main";
// @import "./nav-breadcrumb.scss";
// @import "./icons.scss";

// @import "./footer.scss";
@import "./brand.scss";

@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";

html,
body{
  height: 100%;
}

.tab-content>.active {
    display: flex;
}

.tab-content{
  min-height: 100vh;
  .tab-pane{
    padding-top: $nav-item-height;
    min-height: 100vh;
    &.bg-sunset{
      padding-top: 0;
    }
  }
}
