$opacity_disabled: 0.2;
//
$default-font: 'Helvetica','Arial',sans-serif;
$brand-fontT: 'Titillium Web',$default-font;
$brand-font: 'Outfit',$default-font;
$brand-font-bold: 'Outfit',$default-font;

$bg-nav: #eee;
$btnHoverColor: #ccc;
$bg-nav-btn: $bg-nav;

$size-btn-text: 1rem;

$width-modal-nav: 100%;
$width-modal-nav-max: 10rem;

$nav-item-height: 5rem;
$nav-item-unit: 5rem;
$modal-top: 0;//$nav-item-height
$modal-top-bg: $bg-nav;
$gutter: $grid-gutter-width/2;

$width-active-border: 0.2rem;
$clr-nav-item-border: $modal-header-border-color;

$sunset_0: #FFF5D3;
$sunset_1: #E87523;
$sunset_2: #2E1407;

@mixin navHeader{
  .modal-header {
    border-radius: 0;
    padding: 0 1rem;
    border-bottom: 1px solid $black;
    .modal-title{
      height: $nav-item-height;
      line-height: $nav-item-height;
      margin-top: 0;
    }
  }
}
