@keyframes effect-pulse {
  0% {
    box-shadow: 0px 0px 0px .6rem rgba(204,204,204,1);
  }
  100% {
    box-shadow: 0px 0px 0px .3rem rgba(204,204,204,0.5);
  }
}
.nav-effect-pulse {
  animation: effect-pulse 1s;
}
