// https://css-tricks.com/custom-list-number-styling/
$opacity-faint: 0.3;

body{
  font-family: $default-font;
}

@mixin cross{
  content: " ";
  display: block;
  width: $crosshair-unit;
  height: $crosshair-unit;
  position: absolute;
  background-image: url("/assets/images/brand_vector/cross-k.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: $crosshair-unit $crosshair-unit;
}

.footer,
.brand-font,
.nav,
.nav-crumb,
h1,
h2,
h3,
h4{
  font-family: $brand-font;
}

h2{
  font-weight: 300;
}

.page-title{
  padding: $grid-gutter-width/2 0;
  text-align: center;
  font-weight: bold;
}

.page-subtitle{
  text-align: center;
  font-weight: normal;
  padding-bottom: $grid-gutter-width/2;
}

.has-subtitle{
  margin-bottom: -0.25rem;
}

.text-list-numbered {
  list-style: none;
  counter-reset: my-awesome-counter;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.text-list-numbered li {
  counter-increment: my-awesome-counter;
  display: flex;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.text-list-numbered li::before {
  content: counter(my-awesome-counter);
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  font-family: $brand-font;
  line-height: 1;
}

$crosshair-unit: 1rem;

.text-list-item{
  font-family: $brand-font;
  position: relative;
  padding: $crosshair-unit $crosshair-unit/2;
  &:before,
  &:after{
    top: -$crosshair-unit/4;
    @include cross;
  }
  &:before{
    left: -$crosshair-unit/2;
  }

  &:after{
    right: -$crosshair-unit/2;
  }
}

.text-list{
  list-style-type: none;
  position: relative;
  margin-left: 0;
  padding-left: 0;
  font-family: $brand-font;

  &:before,
  &:after{
    bottom: -$crosshair-unit/2;
    @include cross;
  }
  &:before{
    left: -$crosshair-unit/2;
  }

  &:after{
    right: -$crosshair-unit/2;
  }
}

.small-date {
  text-transform: uppercase;
  font-size: 80%;
  display: inline-block;
  margin-left: .25rem;
  padding-left: 0;
  color: #888;
}

.strong{
  font-weight: bold;
  //font-family: $brand-font-bold;
}
